.nav {
    display: block;
}

.navbar {
    background-color: #6284e0;
    width: 100%;
    min-height: 72px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navBrand {
    width: 150px;
}

.navMenu {
    margin: auto;
    padding: 0;
}

.navHome {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.navBarLink {
    text-decoration: none;
    color: var(--color-body);
}

.navMenuItem {
    height: 72px;
    overflow: hidden;
    transition: all .3s;
}

.navMenuItem:hover {
    background-color: #97b6ff;
}

.threeBars {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    cursor: pointer;
}

.mediaNav {
    display: none;
}

.fw-light {
    font-weight: 600;
}

.shrink {
    height: 0;
}

@media screen and (min-width: 800px) {
    .mediaNav {
        display: flex;
    }

    .nav {
        display: none;
    }

    .navBrand {
        width: 150px;
    }

    .navMenuItem {
        height: 72px;
        width: auto;
        overflow: hidden;
        transition: all .3s;
        padding: 0 10px 0 10px;
    }
}
